/* universal styles*/

* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

h2 {
    font-size: 1.5em;
}


/*header*/


nav {
    border-bottom: 1px solid seashell;
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    margin-left: 10px;
    height: 50px;
}

nav ul {
    display: inline-flex;
}

nav li {
    list-style: none;
    text-decoration: underline;
    padding-left: 20px;
}


/*Jumbotron section*/


.jumbotron {
    background-image: url("../Images/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.jumbotron-text-container {
    width: 1200px;
}

.jumbotron-text-container h2 {
    margin-top: 10px;
}

.jumbotron-text-container h4 {
    font-size: 0.9em;
    margin-bottom: 10px;
    letter-spacing: 0.02em;
}


/*Teas section*/


.tea {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.tea-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tea-images img{
    width: 300px;
    height: 200px;
}


/*Locations section*/

.locations {
    background-image: url("../Images/img-locations-background.jpg");
    height: 600px;
    width: 1200px;
    margin: 0 auto;
}

.locations h2 {
    text-align: center;
    background-color: transparent;
    line-height: 0;
    padding: 80px 0px 15px 0px;
}

.locations-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    column-gap: 40px;
}

.locations-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 300px;
    margin-top: 0px;
    opacity: 1;
    list-style: none;
    padding: 0px;
}

.locations-list h3 {
    line-height: 0;
    font-size: 24px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}

/*Footer*/

.footer {
    height: 200px;
    margin: 0 auto;
}

#copyright {
    display: flex;
    justify-content: flex-start;
}
